<div class="panel panel-default">
    {{#if hasBlock}}
        <div class="panel-heading">{{@heading}}</div>

        {{yield theme elementId}}

    {{else}}
        <div class="panel-heading">{{@heading}}</div>

        <Tomster @theme={{@theme}} />

    {{/if}}
</div>